{{ define "main" }}
	<ul id="og-grid" class="og-grid">
		{{ range $.Site.Data.artworks.artworks }}
			<li>
				<!-- 
					data-mediums looks so weird because I want data-mediums to be a link 
					&lt; < 
					&rt; > 
					&quot ; 
					
					_target="blank" ensures that it opens in a new tab

				-->
				<a 
					href="" 
					data-largesrc="{{ .image }}" 
					data-title="{{ .title }}" 
					data-mediums="&lt;a href=&quot;{{ .mediums }}&quot; target=&quot;_blank&quot;&gt; {{ .mediums }} &lt;/a&gt;"  
					data-dimensions="{{ .dimensions }}"
					data-description="{{ .description }}">
					<img class="d-none d-sm-block" src="{{ .thumb }}" alt="{{ .alt }}">
					<img class="d-block d-sm-none" src="{{ .image }}" alt="{{ .alt }}">
				</a>
				<a> <b>{{ .title }}</b>: {{ .shortdescription }}</a>
			</li>
		{{ end }}
	</ul>
	<center>{{ partial "footer.html" . }}</center>
{{ end }}